.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

table.docutils th.head{
    background-color: lightblue;
}

table.docutils tr.row-odd{
    background-color: aliceblue;
}

table.docutils tr{
    text-align: left;
    vertical-align: middle;
}
